/* DEFAULT */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
}

/* CABEÇALHO */

header{
  background-color: #012340; 
  top: 0;
  left: 0;
  right: 0;
  padding-left: 120px;
  padding-right: 120px;
  margin-left: 0;
  margin-right: 0;
  box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 50%);
}

@media (max-width: 1300px) {
  header {
      margin-left: 0;
      margin-right: 0;
      margin-top: 0;
      margin-bottom: 0;
      padding-left: 40px;
      padding-right: 40px;
  }
}

@media (max-width: 560px) {
  header {
      margin-left: 0;
      margin-right: 0;
      margin-top: 0;
      margin-bottom: 0;
      padding-left: 10px;
      padding-right: 10px;
  }
}

header > .cabecalho{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
  padding-right: 10px;
  padding-left: 10px;
}

@media (max-width: 560px) {
  header > .cabecalho{
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: nowrap;
      flex-direction: row;
      padding-right: 0;
      padding-left: 0;
  }
}

header a{
  color: #fff;
  text-decoration: none;
  display: inline-block;
  transition: .4s;
}

header a:hover{
  transform: scale(1.1);
}

header .menu{
  justify-content: flex-end;
  padding:10px 20px;
  outline: none;
  cursor: pointer;
}

header .menu a {
  margin-right: 10px;
}

header .menu a:last-child {
  margin-right: 0;
}

header .logo {
  cursor: pointer;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(7%);
}

header .logo img {
  width: 250px;
  padding: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}

@media (max-width: 690px) {
  header .logo {
      transform: translateX(-5%);
  }
}

@media (max-width: 568px) {
  header .logo img {
      width: 200px;
  }
}

@media (max-width: 560px) {
  header .logo {
      margin-left: -80px;
      transform: translateX(2%);
  }
}

@media (max-width: 480px) {
  header .logo {
      padding-left: 30px;
  }
  header .logo img {
      width: 180px;
  }
  header .menu{
      transform: translateX(2%);
  }
  
  header .menu a img{
      width: 40px;
  }
}


/* CORPO */
main{
  display: flex;
  flex-direction: column;
  text-align: center;

}

main > h1{
  margin-top: 2rem;
  font-weight: 400;
}

main > hr{
  margin-top: 1rem;
  width: 90vw;
  
}

#cards_container {
  display: grid;
  grid-template-columns: auto auto;
}


.card {
  width: 35em;
  display: flex;
  background-color: #f1f1f1;
  border-radius: 10px;
  padding: 10px;
  margin-left: 10em;
  margin-right: 10em;
  margin-top: 2em;
  margin-bottom: 2em;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  align-items: center;
}

.card:hover{
  transform: scale(1.1);
  transition: 0.5s;
}

.card img {
  border-radius: 50%;
  margin-right: 10px;
}

.card .details {
  flex-grow: 1;
}

.card button {
  margin-right: 2em;
  margin-left: 2em;
  padding: 10px 20px;
  background-color: #001b2e;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.card button:hover {
  transition: 0.3s;
  background-color: #007BFF;
}

/* RODAPÉ */

footer.rodape {
  background-color: rgba(1, 35, 64, 0.7);
  color: #fff;
  position: fixed;
  padding: 3px;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 11px;
}

/* RESPONSIVIDADE



PENDENTE



*/
