/* DEFAULT */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
}

/* CABEÇALHO */

header {
  background-color: #001b2e;
  box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 50%);
  width: 100vw;
  min-height: 18vh;
}


.cabecalho {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: end;
  text-align: center;
}


.logo {
  margin-right: 20rem;
  transition: transform 0.3s ease-in-out;
}

.logo:hover{
  transform: scale(1.1);

}

.logo > a > img {
  width: 250px;
}

.menu {
  padding-right: 10rem;
}

.menu> a > img{
  transition: transform 0.3s ease-in-out;
}

.menu > a > img:hover {
  transform: scale(1.2);
}

a {
  text-decoration: none;
}

/* CORPO postEscolha.html */

.popup_selecao_post {
  border: black 1px solid;
  border-radius: 1rem;
  width: 330px;
  height: 450px;
  margin-top: 2rem;
  padding: 1rem;
  text-align: center;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.popup_selecao_post > h1{
  font-weight: 500;
}

.popup_selecao_post > a{
  color: #fff;
  font-size: larger;
  font-weight: 500;
  background-color: #20638C;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
  padding: 0.8rem 3rem;
  margin-top: 1.2rem;
  border-radius: 0.5rem;
  transition: transform .5s ease-in-out;
}

.popup_selecao_post > a:hover{
  transform: scale(1.1);
}

.voltarButton{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
}

.voltarButton >  a{
  color: #3EC8F3;
  transition: color .5s ease-in-out;
}

.voltarButton > a:hover {
  color: #20638C; 
}

/* CORPO postMotorista.html */

.popup_criacao_postMotorista {
  border: black 1px solid;
  border-radius: 1rem;
  width: 800px;
  height: 500px;
  margin-top: 2rem;
  padding: 1rem;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tituloForm{
  display: flex;
  justify-content: center;
  align-items: center;
}

.tituloForm > h1{
  font-weight: 400;
}

.closePopupButton{
  position: absolute;
  top: 0;
  right: 0;
  padding:2rem ;
}

.inputsForm {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px; 
  align-items: center;
}

.inputsForm > div{
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 15px;
}

.input-estilizado {
  background-color: #eeeeee; 
  border: none;
  border-radius: 20px; 
  box-shadow: 0 4px 8px 1px rgba(0, 0, 0, 0.1); 
  padding: 10px 15px; 
  font-size: 16px; 
  outline: none; 
  width: 18em;
  max-width: 18em;
  max-height: 5em;
  resize: none;
}

.btnPublicar{
  cursor: pointer;
  color: #fff;
  font-size: larger;
  font-weight: 500;
  background-color: #20638C;
  padding: 0.8rem 3rem;
  margin-top: 1.2rem;
  border-radius: 0.9rem;
  border: none;
  transition: transform .5s ease-in-out;
}

.btnPublicar:hover{
  transform: scale(1.1);
}

/* CORPO postPassageiro.html */

.popup_criacao_postPassageiro {
  border: black 1px solid;
  border-radius: 1rem;
  width: 800px;
  height: 500px;
  margin-top: 2rem;
  padding: 1rem;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.inputsForm2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px; 
  align-items: center;
}

.inputsForm2 > div{
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 15px;
}


/*  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4); */

/* RODAPÉ */

.rodape {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  bottom: 0;
  min-height: 10vh;
  width: 100vw;
  background-color: #001b2e;
  color: #fff;
}

/* RESPONSIVIDADE



PENDENTE



*/


